body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.textarea-container {
    display: flex;
}

.textarea-container textarea {
    width: 50%;
    /* Adjust width as needed */
    margin-right: 10px;
    /* Optional: Add margin between text areas */
}

.container {
    max-width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

#url {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#analyzeBtn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#log,
#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #333;
}

.custom-alert-container {
    position: fixed;
    bottom: 0;
    /* Position at the bottom of the page */
    left: 0;
    width: 100%;
    /* Occupy full width */
    display: none;
    z-index: 9999;
}

.custom-alert {
    background-color: #F0CCCC;
    /* Soft pastel color */
    color: #333;
    /* Text color */
    padding: 15px;
    border-radius: 5px;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
}

.custom-alert p {
    margin: 0 auto;
    /* Center the text */
}

.custom-alert.active {
    display: flex;
}

.alert-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    color: #F0CCCC;
}

.alert-close-btn:hover {
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}